body {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.table-space {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black;
  width: 90%;
  border-radius: 0.2rem;
}

th {
  text-decoration: underline;
}
